# Java build output
bin/
target/
node_modules/
dist/
build/

# Eclipse files
.project
.classpath
.settings/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
*.tmp
*.temp


.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln